ul {
  padding: 0;
}
p {
  margin: 0;
}
.h1,
h1,
.h2,
h2,
.h3,
h3,
.h4,
h4,
.h5,
h5 {
  margin: 0;
}
.h1 + .h1,
.h1 + h1,
.h1 + .h2,
.h1 + h2,
.h1 + .h3,
.h1 + h3,
.h1 + .h4,
.h1 + h4,
.h1 + .h5,
.h1 + h5,
h1 + .h1,
h1 + h1,
h1 + .h2,
h1 + h2,
h1 + .h3,
h1 + h3,
h1 + .h4,
h1 + h4,
h1 + .h5,
h1 + h5,
.h2 + .h1,
.h2 + h1,
.h2 + .h2,
.h2 + h2,
.h2 + .h3,
.h2 + h3,
.h2 + .h4,
.h2 + h4,
.h2 + .h5,
.h2 + h5,
h2 + .h1,
h2 + h1,
h2 + .h2,
h2 + h2,
h2 + .h3,
h2 + h3,
h2 + .h4,
h2 + h4,
h2 + .h5,
h2 + h5,
.h3 + .h1,
.h3 + h1,
.h3 + .h2,
.h3 + h2,
.h3 + .h3,
.h3 + h3,
.h3 + .h4,
.h3 + h4,
.h3 + .h5,
.h3 + h5,
h3 + .h1,
h3 + h1,
h3 + .h2,
h3 + h2,
h3 + .h3,
h3 + h3,
h3 + .h4,
h3 + h4,
h3 + .h5,
h3 + h5,
.h4 + .h1,
.h4 + h1,
.h4 + .h2,
.h4 + h2,
.h4 + .h3,
.h4 + h3,
.h4 + .h4,
.h4 + h4,
.h4 + .h5,
.h4 + h5,
h4 + .h1,
h4 + h1,
h4 + .h2,
h4 + h2,
h4 + .h3,
h4 + h3,
h4 + .h4,
h4 + h4,
h4 + .h5,
h4 + h5,
.h5 + .h1,
.h5 + h1,
.h5 + .h2,
.h5 + h2,
.h5 + .h3,
.h5 + h3,
.h5 + .h4,
.h5 + h4,
.h5 + .h5,
.h5 + h5,
h5 + .h1,
h5 + h1,
h5 + .h2,
h5 + h2,
h5 + .h3,
h5 + h3,
h5 + .h4,
h5 + h4,
h5 + .h5,
h5 + h5 {
  margin-top: 0.5em;
}
@font-face {
  font-family: 'ptsn-700';
  src: url('../fonts/PTN77F.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
@font-face {
  font-family: 'ptsn-400';
  src: url('../fonts/PTN57F.ttf') format('truetype');
  font-weight: normal;
  font-style: normal;
}
.font-regular {
  font-family: 'ptsn-400';
}
.font-bold {
  font-family: 'ptsn-700';
}
.h2 {
  font-size: 30px;
  margin-bottom: 35px;
}
.font {
  font-family: Continuum, Arial, sans-seri;
}
.h-paddings {
  padding-left: 80px;
  padding-right: 80px;
}
.v-paddings {
  padding-top: 55px;
  padding-bottom: 55px;
}
.sprite {
  background-image: url(../img/sprite.png);
}
.inlined {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.font-size {
  font-size: 16px;
  line-height: 24px;
}
.marginStartFix {
  border-top: 1px solid transparent;
  border-bottom: 1px solid transparent;
}
.transition {
  -webkit-transition: all 0.3s ease;
       -o-transition: all 0.3s ease;
          transition: all 0.3s ease;
}
.row {
  margin-left: 0;
  margin-right: 0;
}
.row:before,
.row:after {
  content: " ";
  display: table;
}
.row:after {
  clear: both;
}
.col-1 {
  width: 8.33333333%;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.col-2 {
  width: 16.66666667%;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.col-3 {
  width: 25%;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.col-4 {
  width: 33.33333333%;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.col-5 {
  width: 41.66666667%;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.col-6 {
  width: 50%;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.col-7 {
  width: 58.33333333%;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.col-8 {
  width: 66.66666667%;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.col-9 {
  width: 75%;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.col-10 {
  width: 83.33333333%;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.col-11 {
  width: 91.66666667%;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.col-12 {
  width: 100%;
  margin-left: auto;
  padding-left: 10px;
  padding-right: 10px;
  float: left;
}
.col-xs-1, .col-xs-2, .col-xs-3, .col-xs-4, .col-xs-5, .col-xs-6, .col-xs-7, .col-xs-8, .col-xs-9, .col-xs-10, .col-xs-11, .col-xs-12 {
  float: left;
  padding-left: 10px;
  padding-right: 10px;
}
.col-xs-12 {
  width: 100%;
}
.col-xs-11 {
  width: 91.66666667%;
}
.col-xs-10 {
  width: 83.33333333%;
}
.col-xs-9 {
  width: 75%;
}
.col-xs-8 {
  width: 66.66666667%;
}
.col-xs-7 {
  width: 58.33333333%;
}
.col-xs-6 {
  width: 50%;
}
.col-xs-5 {
  width: 41.66666667%;
}
.col-xs-4 {
  width: 33.33333333%;
}
.col-xs-3 {
  width: 25%;
}
.col-xs-2 {
  width: 16.66666667%;
}
.col-xs-1 {
  width: 8.33333333%;
}
.col-xs-pull-12 {
  right: 100%;
}
.col-xs-pull-11 {
  right: 91.66666667%;
}
.col-xs-pull-10 {
  right: 83.33333333%;
}
.col-xs-pull-9 {
  right: 75%;
}
.col-xs-pull-8 {
  right: 66.66666667%;
}
.col-xs-pull-7 {
  right: 58.33333333%;
}
.col-xs-pull-6 {
  right: 50%;
}
.col-xs-pull-5 {
  right: 41.66666667%;
}
.col-xs-pull-4 {
  right: 33.33333333%;
}
.col-xs-pull-3 {
  right: 25%;
}
.col-xs-pull-2 {
  right: 16.66666667%;
}
.col-xs-pull-1 {
  right: 8.33333333%;
}
.col-xs-pull-0 {
  right: auto;
}
.col-xs-push-12 {
  left: 100%;
}
.col-xs-push-11 {
  left: 91.66666667%;
}
.col-xs-push-10 {
  left: 83.33333333%;
}
.col-xs-push-9 {
  left: 75%;
}
.col-xs-push-8 {
  left: 66.66666667%;
}
.col-xs-push-7 {
  left: 58.33333333%;
}
.col-xs-push-6 {
  left: 50%;
}
.col-xs-push-5 {
  left: 41.66666667%;
}
.col-xs-push-4 {
  left: 33.33333333%;
}
.col-xs-push-3 {
  left: 25%;
}
.col-xs-push-2 {
  left: 16.66666667%;
}
.col-xs-push-1 {
  left: 8.33333333%;
}
.col-xs-push-0 {
  left: auto;
}
.col-xs-offset-12 {
  margin-left: 100%;
}
.col-xs-offset-11 {
  margin-left: 91.66666667%;
}
.col-xs-offset-10 {
  margin-left: 83.33333333%;
}
.col-xs-offset-9 {
  margin-left: 75%;
}
.col-xs-offset-8 {
  margin-left: 66.66666667%;
}
.col-xs-offset-7 {
  margin-left: 58.33333333%;
}
.col-xs-offset-6 {
  margin-left: 50%;
}
.col-xs-offset-5 {
  margin-left: 41.66666667%;
}
.col-xs-offset-4 {
  margin-left: 33.33333333%;
}
.col-xs-offset-3 {
  margin-left: 25%;
}
.col-xs-offset-2 {
  margin-left: 16.66666667%;
}
.col-xs-offset-1 {
  margin-left: 8.33333333%;
}
.col-xs-offset-0 {
  margin-left: 0%;
}
@media (min-width: 768px) {
  .col-sm-1, .col-sm-2, .col-sm-3, .col-sm-4, .col-sm-5, .col-sm-6, .col-sm-7, .col-sm-8, .col-sm-9, .col-sm-10, .col-sm-11, .col-sm-12 {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  .col-sm-12 {
    width: 100%;
  }
  .col-sm-11 {
    width: 91.66666667%;
  }
  .col-sm-10 {
    width: 83.33333333%;
  }
  .col-sm-9 {
    width: 75%;
  }
  .col-sm-8 {
    width: 66.66666667%;
  }
  .col-sm-7 {
    width: 58.33333333%;
  }
  .col-sm-6 {
    width: 50%;
  }
  .col-sm-5 {
    width: 41.66666667%;
  }
  .col-sm-4 {
    width: 33.33333333%;
  }
  .col-sm-3 {
    width: 25%;
  }
  .col-sm-2 {
    width: 16.66666667%;
  }
  .col-sm-1 {
    width: 8.33333333%;
  }
  .col-sm-pull-12 {
    right: 100%;
  }
  .col-sm-pull-11 {
    right: 91.66666667%;
  }
  .col-sm-pull-10 {
    right: 83.33333333%;
  }
  .col-sm-pull-9 {
    right: 75%;
  }
  .col-sm-pull-8 {
    right: 66.66666667%;
  }
  .col-sm-pull-7 {
    right: 58.33333333%;
  }
  .col-sm-pull-6 {
    right: 50%;
  }
  .col-sm-pull-5 {
    right: 41.66666667%;
  }
  .col-sm-pull-4 {
    right: 33.33333333%;
  }
  .col-sm-pull-3 {
    right: 25%;
  }
  .col-sm-pull-2 {
    right: 16.66666667%;
  }
  .col-sm-pull-1 {
    right: 8.33333333%;
  }
  .col-sm-pull-0 {
    right: auto;
  }
  .col-sm-push-12 {
    left: 100%;
  }
  .col-sm-push-11 {
    left: 91.66666667%;
  }
  .col-sm-push-10 {
    left: 83.33333333%;
  }
  .col-sm-push-9 {
    left: 75%;
  }
  .col-sm-push-8 {
    left: 66.66666667%;
  }
  .col-sm-push-7 {
    left: 58.33333333%;
  }
  .col-sm-push-6 {
    left: 50%;
  }
  .col-sm-push-5 {
    left: 41.66666667%;
  }
  .col-sm-push-4 {
    left: 33.33333333%;
  }
  .col-sm-push-3 {
    left: 25%;
  }
  .col-sm-push-2 {
    left: 16.66666667%;
  }
  .col-sm-push-1 {
    left: 8.33333333%;
  }
  .col-sm-push-0 {
    left: auto;
  }
  .col-sm-offset-12 {
    margin-left: 100%;
  }
  .col-sm-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-sm-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-sm-offset-9 {
    margin-left: 75%;
  }
  .col-sm-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-sm-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-sm-offset-6 {
    margin-left: 50%;
  }
  .col-sm-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-sm-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-sm-offset-3 {
    margin-left: 25%;
  }
  .col-sm-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-sm-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-sm-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 992px) {
  .col-md-1, .col-md-2, .col-md-3, .col-md-4, .col-md-5, .col-md-6, .col-md-7, .col-md-8, .col-md-9, .col-md-10, .col-md-11, .col-md-12 {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  .col-md-12 {
    width: 100%;
  }
  .col-md-11 {
    width: 91.66666667%;
  }
  .col-md-10 {
    width: 83.33333333%;
  }
  .col-md-9 {
    width: 75%;
  }
  .col-md-8 {
    width: 66.66666667%;
  }
  .col-md-7 {
    width: 58.33333333%;
  }
  .col-md-6 {
    width: 50%;
  }
  .col-md-5 {
    width: 41.66666667%;
  }
  .col-md-4 {
    width: 33.33333333%;
  }
  .col-md-3 {
    width: 25%;
  }
  .col-md-2 {
    width: 16.66666667%;
  }
  .col-md-1 {
    width: 8.33333333%;
  }
  .col-md-pull-12 {
    right: 100%;
  }
  .col-md-pull-11 {
    right: 91.66666667%;
  }
  .col-md-pull-10 {
    right: 83.33333333%;
  }
  .col-md-pull-9 {
    right: 75%;
  }
  .col-md-pull-8 {
    right: 66.66666667%;
  }
  .col-md-pull-7 {
    right: 58.33333333%;
  }
  .col-md-pull-6 {
    right: 50%;
  }
  .col-md-pull-5 {
    right: 41.66666667%;
  }
  .col-md-pull-4 {
    right: 33.33333333%;
  }
  .col-md-pull-3 {
    right: 25%;
  }
  .col-md-pull-2 {
    right: 16.66666667%;
  }
  .col-md-pull-1 {
    right: 8.33333333%;
  }
  .col-md-pull-0 {
    right: auto;
  }
  .col-md-push-12 {
    left: 100%;
  }
  .col-md-push-11 {
    left: 91.66666667%;
  }
  .col-md-push-10 {
    left: 83.33333333%;
  }
  .col-md-push-9 {
    left: 75%;
  }
  .col-md-push-8 {
    left: 66.66666667%;
  }
  .col-md-push-7 {
    left: 58.33333333%;
  }
  .col-md-push-6 {
    left: 50%;
  }
  .col-md-push-5 {
    left: 41.66666667%;
  }
  .col-md-push-4 {
    left: 33.33333333%;
  }
  .col-md-push-3 {
    left: 25%;
  }
  .col-md-push-2 {
    left: 16.66666667%;
  }
  .col-md-push-1 {
    left: 8.33333333%;
  }
  .col-md-push-0 {
    left: auto;
  }
  .col-md-offset-12 {
    margin-left: 100%;
  }
  .col-md-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-md-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-md-offset-9 {
    margin-left: 75%;
  }
  .col-md-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-md-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-md-offset-6 {
    margin-left: 50%;
  }
  .col-md-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-md-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-md-offset-3 {
    margin-left: 25%;
  }
  .col-md-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-md-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-md-offset-0 {
    margin-left: 0%;
  }
}
@media (min-width: 1200px) {
  .col-lg-1, .col-lg-2, .col-lg-3, .col-lg-4, .col-lg-5, .col-lg-6, .col-lg-7, .col-lg-8, .col-lg-9, .col-lg-10, .col-lg-11, .col-lg-12 {
    float: left;
    padding-left: 10px;
    padding-right: 10px;
  }
  .col-lg-12 {
    width: 100%;
  }
  .col-lg-11 {
    width: 91.66666667%;
  }
  .col-lg-10 {
    width: 83.33333333%;
  }
  .col-lg-9 {
    width: 75%;
  }
  .col-lg-8 {
    width: 66.66666667%;
  }
  .col-lg-7 {
    width: 58.33333333%;
  }
  .col-lg-6 {
    width: 50%;
  }
  .col-lg-5 {
    width: 41.66666667%;
  }
  .col-lg-4 {
    width: 33.33333333%;
  }
  .col-lg-3 {
    width: 25%;
  }
  .col-lg-2 {
    width: 16.66666667%;
  }
  .col-lg-1 {
    width: 8.33333333%;
  }
  .col-lg-pull-12 {
    right: 100%;
  }
  .col-lg-pull-11 {
    right: 91.66666667%;
  }
  .col-lg-pull-10 {
    right: 83.33333333%;
  }
  .col-lg-pull-9 {
    right: 75%;
  }
  .col-lg-pull-8 {
    right: 66.66666667%;
  }
  .col-lg-pull-7 {
    right: 58.33333333%;
  }
  .col-lg-pull-6 {
    right: 50%;
  }
  .col-lg-pull-5 {
    right: 41.66666667%;
  }
  .col-lg-pull-4 {
    right: 33.33333333%;
  }
  .col-lg-pull-3 {
    right: 25%;
  }
  .col-lg-pull-2 {
    right: 16.66666667%;
  }
  .col-lg-pull-1 {
    right: 8.33333333%;
  }
  .col-lg-pull-0 {
    right: auto;
  }
  .col-lg-push-12 {
    left: 100%;
  }
  .col-lg-push-11 {
    left: 91.66666667%;
  }
  .col-lg-push-10 {
    left: 83.33333333%;
  }
  .col-lg-push-9 {
    left: 75%;
  }
  .col-lg-push-8 {
    left: 66.66666667%;
  }
  .col-lg-push-7 {
    left: 58.33333333%;
  }
  .col-lg-push-6 {
    left: 50%;
  }
  .col-lg-push-5 {
    left: 41.66666667%;
  }
  .col-lg-push-4 {
    left: 33.33333333%;
  }
  .col-lg-push-3 {
    left: 25%;
  }
  .col-lg-push-2 {
    left: 16.66666667%;
  }
  .col-lg-push-1 {
    left: 8.33333333%;
  }
  .col-lg-push-0 {
    left: auto;
  }
  .col-lg-offset-12 {
    margin-left: 100%;
  }
  .col-lg-offset-11 {
    margin-left: 91.66666667%;
  }
  .col-lg-offset-10 {
    margin-left: 83.33333333%;
  }
  .col-lg-offset-9 {
    margin-left: 75%;
  }
  .col-lg-offset-8 {
    margin-left: 66.66666667%;
  }
  .col-lg-offset-7 {
    margin-left: 58.33333333%;
  }
  .col-lg-offset-6 {
    margin-left: 50%;
  }
  .col-lg-offset-5 {
    margin-left: 41.66666667%;
  }
  .col-lg-offset-4 {
    margin-left: 33.33333333%;
  }
  .col-lg-offset-3 {
    margin-left: 25%;
  }
  .col-lg-offset-2 {
    margin-left: 16.66666667%;
  }
  .col-lg-offset-1 {
    margin-left: 8.33333333%;
  }
  .col-lg-offset-0 {
    margin-left: 0%;
  }
}
.btn-parent {
  font-family: 'ptsn-700';
  font-size: 16px;
  padding: 0 10px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 0px;
  width: 100%;
  border: none;
  cursor: pointer;
}
.btn {
  font-family: 'ptsn-700';
  font-size: 16px;
  padding: 0 10px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 0px;
  width: 100%;
  border: none;
  cursor: pointer;
  background: #000;
}
.btn:hover,
.btn:focus {
  background-color: #663d15;
}
.btn-login {
  border: none;
  color: #fff;
  cursor: pointer;
  line-height: 72px;
  position: relative;
  width: auto;
  min-width: 100px;
  padding: 0;
  line-height: 68px;
}
.btn-login:hover,
.btn-login:focus {
  background-color: transparent;
}
.btn-login:after {
  top: 50%;
  margin-top: -9px;
  left: 5px;
  content: '';
  position: absolute;
  display: block;
  background-image: url(../img/sprite.png);
  width: 17px;
  height: 17px;
  background-position: -5px -1px;
}
.btn-fix {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  float: none;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  margin-top: 0;
  height: auto;
}
.main-navigation {
  display: inline-block;
}
.main-navigation__list {
  list-style-type: none;
  font-size: 0;
  padding: 0;
}
.main-navigation__item {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.main-navigation__item + .main-navigation__item {
  margin-left: 45px;
}
.main-navigation__link {
  font-size: 16px;
  text-decoration: none;
  line-height: 68px;
  text-align: center;
  color: #fff;
  display: inline-block;
  vertical-align: middle;
  float: none;
  border-bottom: 4px solid transparent;
}
.main-navigation__link:hover {
  border-bottom: 4px solid white;
}
.main-screen__logo {
  height: 290px;
  background-image: url(../img/barbershop.png);
  background-repeat: no-repeat;
  background-position: 50.9% center;
}
.main-screen__text {
  text-align: center;
  font-size: 14px;
}
.main-screen__title {
  text-align: center;
  padding-bottom: 80px;
  position: relative;
}
.main-screen__title:after {
  content: '';
  position: absolute;
  display: block;
  left: 50%;
  top: 50%;
  margin-left: -7px;
  margin-top: 15px;
  width: 14px;
  height: 14px;
  background-color: #fff;
  -webkit-transform: rotate(45deg);
      -ms-transform: rotate(45deg);
       -o-transform: rotate(45deg);
          transform: rotate(45deg);
  text-align: center;
}
.main-screen {
  padding-bottom: 80px;
}
.main-screen:before,
.main-screen:after {
  content: " ";
  display: table;
}
.main-screen:after {
  clear: both;
}
.contacts__title {
  white-space: nowrap;
}
.contacts__text {
  font-size: 14px;
}
.contacts__text > * + * {
  margin-top: 30px;
}
.contacts__text > * + *:last-child {
  margin-top: 43px;
}
.news-block__item {
  margin-bottom: 35px;
}
.news-block__data {
  font-size: 14px;
  text-transform: none;
  font-family: 'ptsn-400';
}
.placeholder {
  color: #000;
  text-align: left;
}
.form__input {
  font-family: 'ptsn-700';
  font-size: 16px;
  padding: 0 10px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 0px;
  width: 100%;
  border: none;
  cursor: pointer;
  background-color: transparent;
  border: 2px solid black;
  color: black;
  padding-left: 15px;
  padding-right: 15px;
  text-align: left;
  cursor: text;
}
.form__input:hover {
  background-color: transparent;
}
.form__input:focus {
  border-color: #663d15;
}
.form__input::-webkit-input-placeholder {
  color: #000;
  text-align: left;
}
.form__input::-moz-placeholder {
  color: #000;
  text-align: left;
}
.form__input:-moz-placeholder {
  color: #000;
  text-align: left;
}
.form__input:-ms-input-placeholder {
  color: #000;
  text-align: left;
}
.form__row {
  margin-bottom: 20px;
}
.registrer__text {
  margin-bottom: 30px;
}
.swiper-button-prev {
  font-family: 'ptsn-700';
  font-size: 16px;
  padding: 0 10px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 0px;
  width: 100%;
  border: none;
  cursor: pointer;
  background: #000;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  float: none;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  margin-top: 0;
  height: auto;
}
.swiper-button-prev:hover,
.swiper-button-prev:focus {
  background-color: #663d15;
}
.swiper-button-next {
  font-family: 'ptsn-700';
  font-size: 16px;
  padding: 0 10px;
  text-transform: uppercase;
  text-align: center;
  color: #fff;
  text-decoration: none;
  display: block;
  padding: 10px 0px;
  width: 100%;
  border: none;
  cursor: pointer;
  background: #000;
  position: relative;
  display: inline-block;
  vertical-align: middle;
  float: none;
  top: auto;
  left: auto;
  bottom: auto;
  right: auto;
  margin-top: 0;
  height: auto;
}
.swiper-button-next:hover,
.swiper-button-next:focus {
  background-color: #663d15;
}
.slider__navigation {
  font-size: 0;
  margin-top: 35px;
}
.slider__img {
  border: 7px solid white;
  display: block;
  width: 100%;
}
.footer {
  background-color: #212121;
  padding-top: 60px;
  margin-top: 60px;
}
.footer__title {
  text-align: center;
  margin-bottom: 15px;
}
.socials {
  list-style-type: none;
  font-size: 0;
  text-align: center;
}
.socials > *:nth-child(2) {
  margin-left: 4%;
  margin-right: 4%;
}
.socials__item {
  display: inline-block;
  vertical-align: middle;
  float: none;
}
.socials__link {
  background-color: #000;
  display: inline-block;
  vertical-align: middle;
  float: none;
  background-image: url(../img/sprite.png);
  width: 43px;
  height: 43px;
}
.socials__link--vk {
  background-position: -24px 0;
}
.socials__link--fb {
  background-position: -24px -43px;
}
.socials__link--inst {
  background-position: -24px -86px;
}
.popup {
  position: fixed;
  top: 0;
  z-index: 15;
  width: 100%;
  min-height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: none;
}
.popup__inner {
  text-align: center;
}
.popup__body {
  padding: 30px;
  border-radius: 4px;
  position: absolute;
  width: 520px;
  left: 50%;
  margin-left: -260px;
  top: 10%;
}
.popup-close {
  width: 43px;
  height: 43px;
  position: absolute;
  cursor: pointer;
  top: 30px;
  left: 100%;
  margin-left: -30px;
  background-image: url(../img/sprite.png);
  background-position: -24px -130px;
}
.form__input--icon {
  padding-right: 39px;
}
.form__row--icon {
  position: relative;
}
.form__row--icon:after {
  content: '';
  position: absolute;
  display: block;
  background-image: url(../img/sprite.png);
  width: 21px;
  height: 21px;
  top: 8px;
  right: 10px;
}
.form__row--pass:after {
  background-position: -43px -172px;
}
.form__row--login:after {
  background-position: -23px -172px;
}
.popup__form {
  text-align: left;
  margin-top: 30px;
}
.popup__h2 {
  text-align: left;
}
.link--black {
  color: #000;
}
.form__row--login {
  margin-bottom: 9px;
}
.popup__text {
  text-align: left;
}
.subscribe__form > * + * {
  margin-top: 20px;
}
input[type="checkbox"] {
  display: none;
}
.checkbox__label {
  padding-left: 30px;
  position: relative;
  cursor: pointer;
}
.checkbox__label:after {
  content: '';
  display: block;
  position: absolute;
  left: 0px;
  top: 0px;
  width: 22px;
  height: 20px;
  border: 2px solid black;
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
.checkbox:checked + .checkbox__label:after {
  background-image: url(../img/sprite.png);
  background-position: -26px -196px;
}
.popup__map {
  height: 560px;
  margin: 0;
  padding: 0;
}
.popup__body--mapped {
  width: 780px;
  margin-left: -390px;
}
.popup__body--mapped .milked {
  padding: 7px;
}
* {
  -moz-box-sizing: border-box;
       box-sizing: border-box;
}
*:focus {
  outline: none;
}
html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  font-size: 14px;
  font-family: 'ptsn-700', Arial, "Helvetica Neue", Helvetica, sans-serif;
  text-transform: uppercase;
  background-color: #000;
  color: #fff;
  line-height: 24px;
}
body {
  background-image: url(../img/bg.jpg);
  background-repeat: no-repeat;
}
header {
  background: black;
}
a {
  color: #fff;
}
.float-container {
  text-align: center;
  position: absolute;
  z-index: 2;
}
.monitor {
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  z-index: 2;
}
.backgrounded {
  background-image: url(../img/noise.jpg);
  color: #000;
}
.separated section + section {
  position: relative;
}
.separated section + section:after {
  content: '';
  position: absolute;
  display: block;
  width: 15px;
  height: 270px;
  background-image: url(../img/sprite.png);
  top: 0;
  left: -24.666667%;
  margin-left: -15px;
  background-position: 0px -37px;
  bottom: 0px;
  margin: auto;
}
.paddinged {
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 55px;
  padding-bottom: 55px;
}
.milked {
  background-image: url(../img/noise.jpg);
  color: #000;
  padding-left: 80px;
  padding-right: 80px;
  padding-top: 55px;
  padding-bottom: 55px;
}
.milked section + section {
  position: relative;
}
.milked section + section:after {
  content: '';
  position: absolute;
  display: block;
  width: 15px;
  height: 270px;
  background-image: url(../img/sprite.png);
  top: 0;
  left: -24.666667%;
  margin-left: -15px;
  background-position: 0px -37px;
  bottom: 0px;
  margin: auto;
}
.milked + .milked {
  margin-top: 35px;
}
.m0 {
  margin: 0px;
}
.m5 {
  margin: 5px;
}
.m10 {
  margin: 10px;
}
.m15 {
  margin: 15px;
}
.m20 {
  margin: 20px;
}
.m25 {
  margin: 25px;
}
.m30 {
  margin: 30px;
}
.m35 {
  margin: 35px;
}
.m40 {
  margin: 40px;
}
.m45 {
  margin: 45px;
}
.m50 {
  margin: 50px;
}
.mt0 {
  margin-top: 0px;
}
.mt5 {
  margin-top: 5px;
}
.mt10 {
  margin-top: 10px;
}
.mt15 {
  margin-top: 15px;
}
.mt20 {
  margin-top: 20px;
}
.mt25 {
  margin-top: 25px;
}
.mt30 {
  margin-top: 30px;
}
.mt35 {
  margin-top: 35px;
}
.mt40 {
  margin-top: 40px;
}
.mt45 {
  margin-top: 45px;
}
.mt50 {
  margin-top: 50px;
}
.mb0 {
  margin-bottom: 0px;
}
.mb5 {
  margin-bottom: 5px;
}
.mb10 {
  margin-bottom: 10px;
}
.mb15 {
  margin-bottom: 15px;
}
.mb20 {
  margin-bottom: 20px;
}
.mb25 {
  margin-bottom: 25px;
}
.mb30 {
  margin-bottom: 30px;
}
.mb35 {
  margin-bottom: 35px;
}
.mb40 {
  margin-bottom: 40px;
}
.mb45 {
  margin-bottom: 45px;
}
.mb50 {
  margin-bottom: 50px;
}
.ml0 {
  margin-left: 0px;
}
.ml5 {
  margin-left: 5px;
}
.ml10 {
  margin-left: 10px;
}
.ml15 {
  margin-left: 15px;
}
.ml20 {
  margin-left: 20px;
}
.ml25 {
  margin-left: 25px;
}
.ml30 {
  margin-left: 30px;
}
.ml35 {
  margin-left: 35px;
}
.ml40 {
  margin-left: 40px;
}
.ml45 {
  margin-left: 45px;
}
.ml50 {
  margin-left: 50px;
}
.mr0 {
  margin-right: 0px;
}
.mr5 {
  margin-right: 5px;
}
.mr10 {
  margin-right: 10px;
}
.mr15 {
  margin-right: 15px;
}
.mr20 {
  margin-right: 20px;
}
.mr25 {
  margin-right: 25px;
}
.mr30 {
  margin-right: 30px;
}
.mr35 {
  margin-right: 35px;
}
.mr40 {
  margin-right: 40px;
}
.mr45 {
  margin-right: 45px;
}
.mr50 {
  margin-right: 50px;
}
.p0 {
  padding: 0px;
}
.p5 {
  padding: 5px;
}
.p10 {
  padding: 10px;
}
.p15 {
  padding: 15px;
}
.p20 {
  padding: 20px;
}
.p25 {
  padding: 25px;
}
.p30 {
  padding: 30px;
}
.p35 {
  padding: 35px;
}
.p40 {
  padding: 40px;
}
.p45 {
  padding: 45px;
}
.p50 {
  padding: 50px;
}
.pt0 {
  padding-top: 0px;
}
.pt5 {
  padding-top: 5px;
}
.pt10 {
  padding-top: 10px;
}
.pt15 {
  padding-top: 15px;
}
.pt20 {
  padding-top: 20px;
}
.pt25 {
  padding-top: 25px;
}
.pt30 {
  padding-top: 30px;
}
.pt35 {
  padding-top: 35px;
}
.pt40 {
  padding-top: 40px;
}
.pt45 {
  padding-top: 45px;
}
.pt50 {
  padding-top: 50px;
}
.pb0 {
  padding-bottom: 0px;
}
.pb5 {
  padding-bottom: 5px;
}
.pb10 {
  padding-bottom: 10px;
}
.pb15 {
  padding-bottom: 15px;
}
.pb20 {
  padding-bottom: 20px;
}
.pb25 {
  padding-bottom: 25px;
}
.pb30 {
  padding-bottom: 30px;
}
.pb35 {
  padding-bottom: 35px;
}
.pb40 {
  padding-bottom: 40px;
}
.pb45 {
  padding-bottom: 45px;
}
.pb50 {
  padding-bottom: 50px;
}
.pl0 {
  padding-left: 0px;
}
.pl5 {
  padding-left: 5px;
}
.pl10 {
  padding-left: 10px;
}
.pl15 {
  padding-left: 15px;
}
.pl20 {
  padding-left: 20px;
}
.pl25 {
  padding-left: 25px;
}
.pl30 {
  padding-left: 30px;
}
.pl35 {
  padding-left: 35px;
}
.pl40 {
  padding-left: 40px;
}
.pl45 {
  padding-left: 45px;
}
.pl50 {
  padding-left: 50px;
}
.pr0 {
  padding-right: 0px;
}
.pr5 {
  padding-right: 5px;
}
.pr10 {
  padding-right: 10px;
}
.pr15 {
  padding-right: 15px;
}
.pr20 {
  padding-right: 20px;
}
.pr25 {
  padding-right: 25px;
}
.pr30 {
  padding-right: 30px;
}
.pr35 {
  padding-right: 35px;
}
.pr40 {
  padding-right: 40px;
}
.pr45 {
  padding-right: 45px;
}
.pr50 {
  padding-right: 50px;
}
.fleft {
  float: left;
}
.fright {
  float: right;
}
.no-paddings {
  padding: 0;
}
.fz0 {
  font-size: 0;
}
.fz0 > * {
  font-size: 14px;
}
.text-right {
  text-align: right;
}
.text-center {
  text-align: center;
}
.wrapper {
  width: 940px;
  margin: 0 auto;
}
