*{
  box-sizing: border-box;

  &:focus{
    outline:none;
  }
}

html, body{
  margin: 0;
  padding: 0;
  height: 100%;
  overflow-x: hidden;
  position: relative;
  font-size: 14px;
  font-family: Arial, "Helvetica Neue", Helvetica, sans-serif;

}

.float-container{
  text-align: center;
  position: absolute;
  z-index: @second-layer;
}

.monitor{
  width: 100%;
  height: 100%;
  position: fixed;
  display: block;
  left: 0;
  top: 0;
  z-index: @second-layer;
}